// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-body {
  margin-top: 70px;
}

.container a {
  color: #2E2F30;
  text-align: center;
}

.container a:hover {
  color: dimgrey;
  text-decoration: none;
  background-color: transparent;
}

.container input[type="submit"] {
  height: 30px;
  font-size: 13px;
  background-color: #f55e55;
  border: none;
  color: #fff;
}